<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<aop:aspectj-autoproxy/>
	<bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" />
	
	<aop:config>       
        <!-- <aop:advisor id="managerTx" advice-ref="txAdvice" pointcut="execution(* *..service.manager.*Manager.*(..))" order="1"/> -->
        <aop:advisor id="managerTx" advice-ref="txAdvice" pointcut="execution(* *..DAOContact.*(..))" order="1"/>
	</aop:config>

	<tx:advice id="txAdvice">
    <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="add*" propagation="REQUIRED" read-only="false" />
            <tx:method name="modify*" propagation="REQUIRED" read-only="false" />
            <tx:method name="del*" propagation="REQUIRED" read-only="false" />
    </tx:attributes>
	</tx:advice>

	<bean id="FIRSTCONTACT" class="domain.Contact" init-method="init"
		destroy-method="cleanup">
		<property name="firstName" value="alexandre" />
		<property name="lastName" value="baufume" />
		<property name="email" value="ab@mail.com" />
		<property name="address">
			<ref bean="FIRSTADDRESS" />
		</property>
		<property name="phoneNumbers">
			<set>
				<ref bean="FIRSTPHONE" />
				<ref bean="FIRSTPHONEBIS" />
			</set>
		</property>
		<property name="contactGroups">
			<set>
				<ref bean="FIRSTGROUP" />
				<ref bean="FIRSTGROUPBIS" />
			</set>
		</property>
	</bean>

	<bean id="FIRSTADDRESS" class="domain.Address" init-method="init"
		destroy-method="cleanup">
		<property name="zip" value="75042" />
		<property name="street" value="42 rue des dames" />
		<property name="city" value="paris" />
		<property name="country" value="france" />

	</bean>

	<bean id="FIRSTPHONE" class="domain.PhoneNumber" init-method="init"
		destroy-method="cleanup">
		<property name="phoneKind" value="personnalPhone" />
		<property name="phoneNumber" value="6666666666" />
		<property name="contact">
			<ref bean="FIRSTCONTACT" />
		</property>
	</bean>

	<bean id="FIRSTPHONEBIS" class="domain.PhoneNumber" init-method="init"
		destroy-method="cleanup">
		<property name="phoneKind" value="homePhone" />
		<property name="phoneNumber" value="9999999999" />
		<property name="contact">
			<ref bean="FIRSTCONTACT" />
		</property>
	</bean>

	<bean id="FIRSTGROUP" class="domain.ContactGroup" init-method="init"
		destroy-method="cleanup">
		<property name="groupName" value="family" />
		<property name="contacts">
			<set>
				<ref bean="FIRSTCONTACT" />
			</set>
		</property>
	</bean>

	<bean id="FIRSTGROUPBIS" class="domain.ContactGroup" init-method="init"
		destroy-method="cleanup">
		<property name="groupName" value="work" />
		<property name="contacts">
			<set>
				<ref bean="FIRSTCONTACT" />
			</set>
		</property>
	</bean>

	<bean id="SECONDCONTACT" class="domain.Company" init-method="init"
		destroy-method="cleanup">
		<constructor-arg type="java.lang.String">
			<value>kevin</value>
		</constructor-arg>
		<constructor-arg type="java.lang.String">
			<value>toujourskevin</value>
		</constructor-arg>
		<constructor-arg type="java.lang.String">
			<value>kevin@kevin.com</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="SECONDADDRESS" />
		</constructor-arg>
		<constructor-arg type="int">
			<value>42</value>
		</constructor-arg>
	</bean>
	
	<bean id="SECONDADDRESS" class="domain.Address" init-method="init"
		destroy-method="cleanup">
		<property name="zip" value="75009" />
		<property name="street" value="42 42 42 42" />
		<property name="city" value="la lune" />
		<property name="country" value="nop" />

	</bean>
	
	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/> 
		<property name="url" value="jdbc:mysql://localhost/codelicious"/> 
		<property name="username" value="root"/>
    </bean>

	<bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="mappingResources">
            <list>
                <value>domain/Address.hbm.xml</value>
                <value>domain/Contact.hbm.xml</value>
                <value>domain/ContactGroup.hbm.xml</value>
                <value>domain/PhoneNumber.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.MySQLDialect
            </value>
        </property>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory"/> 
	</bean>


	<bean id="DAOC" class="domain.DAOContact">
		<property name="sessionFactory" ref="mySessionFactory"/> 
	</bean>
	
	
	

</beans>